---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="flex justify-center items-center mt-10 mb-4">
        <div class="w-[400px] h-[200px]">
            <iframe
                src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                class="w-full h-full"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
    </div>
    <div class="flex justify-center items-center">
            <About/>
    </div>
        
</Layout>
